In [1]:
#1
org_str="hello world"
rev_str=org_str[::-1]
print(rev_str)

dlrow olleh

In [2]:
#2
string="Eduforall"
count=0
# vowel=['a','e','i','o','u']
for i in string.lower():
    if i in "aeiou":
        count+=1
print(count)

4

In [17]:
#3
my_string="NamaN"
boolean=my_string==my_string[::-1]
print(boolean)

True

In [18]:
#4
string1="listeN"
string2="silent"
anagram=sorted(string1.lower())==sorted(string2.lower())
print(anagram)

True

In [20]:
#6
s="abbcccddeffgg"
count=1
compressed=[]
for i in range(1,len(s)):
    if s[i]==s[i-1]:
        count+=1
    else:
        compressed.append(s[i-1]+str(count))
        count=1
        
compressed.append(s[-1]+str(count))

print(str(compressed))

['a1', 'b2', 'c3', 'd2', 'e1', 'f2', 'g2']

In [21]:
#7
s="abcdd123"

# boolean=len(s) == len(set(s))  
# print(boolean)

bool=True
for i in range(len(s)-1):
    if s[i]==s[i+1]:
        bool=False
print(bool)

False

In [22]:
#8
s="NAme"
print(s.upper())
print(s.lower())

NAME
name

In [23]:
#9
s='jupyter , notebook , 321'
word_count=len(s.split(','))    
print(word_count)

3

In [24]:
#10
s1="subhashchandra"
s2="bose"

# s3=f"{s1}{s2}"
# s3

s3="{}{}"
s3=s3.format(s1,s2)
s3

'subhashchandrabose'

In [25]:
#11
lst = [1, 2, 3, 4, 3, 5]
element = 3
for i in lst:
    if i==element:
        lst.remove(element)
print(lst)
# filter=[x for x in lst if x!=element]
# print(filter)

[1, 2, 4, 5]

In [26]:
#12

#1st
lst=[10,22,22,5,67,67]
unique_number=list(set(lst))
unique_number.remove(max(unique_number))

print(max(unique_number))
    
#2nd
# lst.sort()

22

In [27]:
#13
lst=[1,3,2,4,3,3,4,5,6,6]
lst=sorted(lst)
count={}
c=1
for i in range(1,len(lst)):
    if lst[i]==lst[i-1]:
        c=c+1
    else:
        count[lst[i-1]]=c
        c=1
count[lst[i-1]]=c
print(count)

{1: 1, 2: 1, 3: 3, 4: 2, 5: 1, 6: 2}

In [28]:
#14
lst=[1,2,3,4,5,6]
st=0
end=len(lst)-1
while(st<end):
    lst[st],lst[end]=lst[end],lst[st]
    st+=1
    end-=1
print(lst)

[6, 5, 4, 3, 2, 1]

In [29]:
#15
lst=[1,2,3,2,4,1,4,5]
unique=[]
for i in lst:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 2, 3, 4, 5]

In [30]:
#16
lst=[1,3,4,2,7,6,8,2]

is_sorted= lst== sorted(lst)or lst==sorted(lst,reverse=True)
print(is_sorted)

False

In [31]:
#17
lst1=[1,2,3,4]
lst2=[2,3,4,5]

list3=[]
list3.extend(lst1+lst2)
list3=sorted(list3)
print(list3)

[1, 2, 2, 3, 3, 4, 4, 5]

In [32]:
#18
intersection_list=[]
intersection_list=list(set(lst1) & set(lst2))
print(intersection_list)

[2, 3, 4]

In [33]:
#19
lst1=[1,2,3,4]
lst2=[2,3,4,5]

union_list= list( set(lst1) | set(lst2))
print(union_list)

[1, 2, 3, 4, 5]

In [34]:
#20
import random
lst=[1,2,3,4,5]

n=len(lst)
for i in range(n):
    j=random.randint(0,n-1)
    lst[i],lst[j]=lst[j],lst[i]
    
print(lst)

[2, 3, 4, 5, 1]

In [35]:
#21
t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)
intersection_tuple = tuple(set(t1) & set(t2))
print(intersection_tuple)

(3, 4)

In [36]:
# 22
set1=set(
    [int(x) for x in input("enter first set of integers separated by commas:").split(",")] 
)
set2=set(
    [int(x) for x in input("enter second set of integers separated by commas:").split(",")] 
)
print(set1 & set2)

enter first set of integers separated by commas:1 ,2,3,4,5
enter second set of integers separated by commas:2,3,6,7
{2, 3}

In [7]:
#23
def concatenate(tuple1,tuple2):
    return tuple1+tuple2

tuple1=(1,3,5)
tuple2=(2,4,6)
concatenate(tuple1,tuple2)

(1, 3, 5, 2, 4, 6)

In [6]:
#24
set1=set(input("enter first string element set").split(","))
set2=set(input("enter second string element set").split(","))
print(set1 - set2)

enter first string element setapple,orange,banana
enter second string element setbanana,guaava
{'orange', 'apple'}

In [5]:
#25
def get_tuple(tup,st,end):
    return tup[st:end]

tup=(12,90,45,67,45,23,89)
get_tuple(tup,2,5)

(45, 67, 45)

In [4]:
#26
set1=set([x for x in input("enter one string of set1 :")])
set2=set([x for x in input("enter one string of set2:")])
print(set1 | set2)

enter one string of set1 :abcd
enter one string of set2:efgha
{'d', 'c', 'e', 'g', 'a', 'f', 'h', 'b'}

In [1]:
#27
tuple_input = tuple(map(int, input("Enter a tuple of integers : ").split()))
max,min=max(tuple_input),min(tuple_input) 

print("Maximun:",max,",Minimun:",min)

Enter a tuple of integers separated by commas: 12 43 21 35 6
Maximun: 43 ,Minimun: 6

In [2]:
#28
set1 = set(map(int, input("Enter first set of integers separated by commas: ").split(',')))
set2 = set(map(int, input("Enter second set of integers separated by commas: ").split(',')))

union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set1 - set2

print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference:", difference_set)

Enter first set of integers separated by commas: 12 , 23, 34, 45
Enter second set of integers separated by commas: 56,67,78
Union: {34, 67, 23, 56, 12, 45, 78}
Intersection: set()
Difference: {34, 12, 45, 23}

In [2]:
#29




tuple_input = tuple(map(int, input("Enter a tuple of integers separated by commas: ").split(',')))
element = int(input("Enter the element to count: "))
count = tuple_input.count(element)
print("Occurrences:", count)

Enter a tuple of integers separated by commas: 12,0,9,8,7,12,4,0
Enter the element to count: 0
Occurrences: 2

In [3]:
#30


set1 = set(input("Enter first set of strings separated by commas: ").split(','))
set2 = set(input("Enter second set of strings separated by commas: ").split(','))
symmetric_difference = set1 ^ set2
print("Symmetric difference:", symmetric_difference)

Enter first set of strings separated by commas: 12,23,34,45
Enter second set of strings separated by commas: 12,43,32,5
Symmetric difference: {'23', '32', '45', '34', '5', '43'}

In [1]:
#31
words=input("enter list of words").split()
count={}
for word in words:
    
    if word  in count:
            count[word]+=1
    else:
        count[word]=1
            
            
print(count)

enter list of wordsapple banana orange mango banana grapes orange
{'apple': 1, 'banana': 2, 'orange': 2, 'mango': 1, 'grapes': 1}

In [12]:
#32
dict1=eval(input("enter first dict"))
dict2=eval(input("enter second dict"))
merged_dict=dict1.copy()

for key,value in dict2.items():
    if key in merged_dict:
        merged_dict[key]+=value
    else:
        merged_dict[key]=value
print(merged_dict)

enter first dict {'d':2 , 'e':3 , 'a':2}
enter second dict{'a': 1, 'b': 2 , 'c':3}
{'d': 2, 'e': 3, 'a': 3, 'b': 2, 'c': 3}

In [16]:

#34
def sort_dict(dic):
    return dict(sorted(dic.items(),key=lambda item:item[1]))
dic={'a':3,'b':1,'c':2}
sort_dict(dic)

{'b': 1, 'c': 2, 'a': 3}

In [ ]:
#35